<div class="row">
	<div id="title">
		<p class="text-center">Notes</p>
		
		<p id="clock" class="text-center">
			<a class="header_link" href ng-click="create()">+ New Note</a>
			<span></span>
			<a class="header_link_right" href="/sessions/<%=@user.id%>" data-method="delete">Log Out</a>
			<a class="header_link_right" href="#"><%=@user.username%>'s Profile</a>
		</p>
	</div>
	<div ng-view=""></div>
</div>